# Virtual Environments
finrisk_env/
venv/
.venv/
env/

# Streamlit Local Cache
.streamlit/

# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Databases & Local Logs
*.db
*.sqlite3
logs/
*.log

# Vector DB & Raw Data Storage
data/vector_db/
chroma_db/
data/raw/*
!data/raw/.gitkeep

# Environment Variables & Secrets
.env
.env.local